<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peer Information</title>
</head>
<body>
    <h1>Peer Information</h1>
    <div>
        <strong>Peer ID:</strong> {{peer_id}}
    </div>

    <h2>Available Torrents</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody id="torrent-list">
            {% for info_hash, torrent in torrents.items() %}
            <tr>
                <td>{{ torrent.filename}} | {{info_hash}}</td>
                <td>
                    <form action="{{ url_for('download_file', info_hash=info_hash, filename=torrent.filename) }}" method="post">
                        <button type="submit">Download</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <!-- Rows will be populated here -->
        </tbody>
    </table>

    <div>
        <h2>Upload More Files</h2>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Upload File</button>
        </form>
    </div>

    <div>
        <h2>Regist Magnet Link</h2>
        <form action="{{ url_for('join') }}" method="post" enctype="multipart/form-data">
            <label for="magnet">Magnet Link</label>
            <input type="text" name="magnet" id="magnet">
            <button type="submit">Join Torrent</button>
            <br>
            <label for="torrent_file">Or Upload Magnet File</label>
            <br>
            <input type="file" name="magnet_file" id="magnet_file" accept=".magnet">
            <button type="submit">Join Torrent</button>
        </form>
    </div>

    <script>
        // Fetch the peer information and torrents from the server
        /* async function fetchPeers() {
            const response = await fetch('/get_peers');
            const torrents = await response.json();
            const torrentList = document.getElementById('torrent-list');
            console.log(torrents)
            // Display the Peer ID at the top
            const firstTorrent = Object.values(torrents)[0];
            const peerId = firstTorrent ? firstTorrent.peer_id : "Unknown Peer ID";

            // Display the Peer ID at the top
            document.getElementById('peer-id').textContent = peerId;

            // Populate torrents in the table
            for (const [infoHash, torrentData] of Object.entries(torrents)) {
                const row = document.createElement('tr');
                // Filename
                const filenameCell = document.createElement('td');
                filenameCell.textContent = torrentData.filename;
                row.appendChild(filenameCell);

                // Download action button
                const actionCell = document.createElement('td');
                
                const downloadForm = document.createElement('form');
                downloadForm.action = `/download`;  // Adjust URL with the peer_id
                downloadForm.method = 'post';  // Method for form submission

                const downloadButton = document.createElement('button');
                downloadButton.type = 'submit';  // Button submits the form
                downloadButton.textContent = 'Download';
                downloadForm.appendChild(downloadButton);
                actionCell.appendChild(downloadForm);
                row.appendChild(actionCell);

                torrentList.appendChild(row);
            }
        }
 */
        // Download the torrent file
        

        // Fetch peers when the page loads
    </script>
</body>
</html>
